.weather-container {
    position: absolute;
    top: 50px;
    right: 50px;

    .current-temp {
        font-size: 60px;
    }

    .high-temp, .low-temp {
        font-size: 25px;
    }

    i {
        font-size: 60px;
    }
}